---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  description: string;
  date: Date;
}

const { title, description, date } = Astro.props;
const dateStr = date.toLocaleDateString("ja-JP", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<BaseLayout title={`${title} | kireinote`} description={description}>
  <article>
    <h1>{title}</h1>
    <div class="meta">{dateStr}</div>
    <slot />
  </article>
</BaseLayout>
